{{- if .Values.kong.allowedCIDRs }}
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: ip-whitelist
  namespace: {{ include "user-service.namespace" . }}
plugin: ip-restriction
config:
  allow:
{{- range $cidr := .Values.kong.allowedCIDRs }}
    - {{ $cidr | quote }}
{{- end }}
{{- end }}
